{% extends 'base.html.twig' %}
{% block body %}

    <div class="container contents">
        <h2>Compte de l'utilisateur <span style="color: orangered">{{ app.user.username }}</span></h2>
        <hr>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 offset-lg-0 offset-md-0 offset-sm-0 offset-3">
                <img class="col-lg-12 col-md-12 col-sm-12 col-6" src="{{ asset('uploads/pictures/' ~ app.user.picture.fileName) }}" title="{{ app.user.username }}" alt="">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">

                <h3>Information utilisateur :</h3>
                <p><b>Pseudo</b> : {{ app.user.username }}</p>
                <p><b>Email</b> : {{ app.user.email }}</p>
                <p><b>Création du compte</b> : {{ app.user.created|date('d/m/Y à H\\hi') }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            <button id="btn-modify" class="btn btn-warning" href="#edit" title="Modifier les informations de l'utilisateur">Modifier mon compte</button>
        </p>
        <div id="edit" style="display: none;">
            <div class="container">
                <div class="row">
                    <h1>Modifier mon profil</h1>
                    <div class="container form-group">
                        {{ form_start(editForm) }}
                        {{ form_widget(editForm) }}
                        <br><button type="submit" class="btn btn-info">Envoyer</button>
                        {{ form_end(editForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function($) {
            $(document).ready(function () {
                $('.container').on('click', '#btn-modify', function(){
                    $('#edit').toggle();
                });
            });
        })(jQuery);
    </script>
{% endblock %}